/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* Regular CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
}

p,
a,
span,
label,
input,
textarea,
button,
strong,
em,
li,
th,
td {
  font-family: "Roboto Mono", monospace;
}

.navbar {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #000;
}

.wrapper {
  max-width: 400px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 50px;
}

.wrapper form {
  margin: 20px 0;
}

.wrapper form label {
  color: red;
  font-weight: 500;
  display: block;
  margin-bottom: 7px;
}

.wrapper form input {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

.wrapper form button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.wrapper form button#delete {
  background-color: red;
  color: #fff;
  border: none;
}

.wrapper form button#delete:hover {
  background-color: rgb(235, 0, 0);
}

.wrapper form button:hover {
  background-color: #ccc;
}

.wrapper .forgot {
  margin-bottom: 10px;
}

.welcome {
  max-width: 1200px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 50px;
}

.welcome-options {
  margin: 20px 0;
}

.table-container {
  overflow-x: auto;
  margin: 20px 0;
}

.table-container table {
  border-collapse: collapse;
}

.table-container table td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.table-container table td.heading {
  background-color: buttonface;
}

.option {
  background-color: buttonface;
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
}

.option:hover {
  background-color: #ccc;
}

.dropBtn {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  width: 210px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: buttonface;
  min-width: 210px;
  overflow: auto;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown a:hover {
  background-color: #ccc;
}

.show {
  display: block;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .welcome {
    max-width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .welcome {
    border: none;
    padding: 20px 50px;
  }
}

@media only screen and (max-width: 400px) {
  .wrapper,
  .welcome {
    border: none;
    padding: 20px;
    margin: 20px auto;
  }
}
